In [7]:
# Dependencies and 
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from datetime import datetime, timedelta
from scipy.stats import linregress

# data files
US_path = "Combined CSVs/US_combined.csv"
Global_path = "Combined CSVs/Global_combined.csv"
US_path_RE = "Combined CSVs/US_combined_CSV_RE.csv"
Global_path_RE = "Combined CSVs/Global_combined_CSV_RE.csv"

# Read the mouse data and the study results
us_data = pd.read_csv(US_path)
us_data_RE = pd.read_csv(US_path_RE)
global_data = pd.read_csv(Global_path)
global_data_RE = pd.read_csv(Global_path_RE)

In [8]:
global_data["Position"].value_counts()

22          52
102         52
93          52
116         52
33          52
            ..
35          52
179         52
41          52
159         52
Position    51
Name: Position, Length: 201, dtype: int64

In [21]:
us_data["Position"].value_counts()

22     52
102    52
93     52
116    52
33     52
       ..
46     52
35     52
179    52
41     52
159    52
Name: Position, Length: 200, dtype: int64

In [11]:
print(f"US records: {len(us_data)}")
print(f"Global records: {len(global_data)}")

US records: 10451
Global records: 10451

In [12]:
us_data.drop(us_data[us_data.Position == "Position"].index, inplace=True)
global_data.drop(global_data[global_data.Position == "Position"].index, inplace=True)
print(f"US records: {len(us_data)}")
print(f"Global records: {len(global_data)}")

US records: 10400
Global records: 10400

In [13]:
us_data.dtypes

Position      object
Track Name    object
Artist        object
Streams       object
URL           object
Date          object
Unique ID     object
dtype: object

In [14]:
us_data["Streams"].max()

'9934418'

In [20]:
us_data["Streams"] = us_data["Streams"].astype(int)
us_data.dtypes

Position      object
Track Name    object
Artist        object
Streams        int32
URL           object
Date          object
Unique ID     object
dtype: object

In [15]:
us_data_RE.dtypes

Position             int64
Track Name          object
Artist              object
Streams              int64
URL                 object
Date                object
Unique ID           object
Year                 int64
Month                int64
Day                  int64
Full_Year            int64
Reformatted_Date     int64
dtype: object

In [16]:
us_data_RE["Streams"].max()

24966901

In [17]:
x = []
y = []
x.append(us_data.at[1, "Streams"])
y.append(us_data.at[1, "Artist"])
x.append(us_data.at[2, "Streams"])
y.append(us_data.at[2, "Artist"])

xy_df = pd.DataFrame ({"Artist": y, "Streams": x})
xy_df

           Artist  Streams
0  Arizona Zervas  9844160
1     Post Malone  7932216

In [18]:
xy_df.dtypes

Artist     object
Streams    object
dtype: object

In [19]:
xy_df["Streams"].max()

'9844160'

In [ ]:
xy_df["Streams"].sum()

In [ ]:
xy_df["Streams"] = xy_df["Streams"].astype(int)

In [ ]:
xy_df.dtypes

In [ ]:
xy_df["Streams"].max()

In [ ]:
xy_df["Streams"].sum()